<section class="container">
    <header class="header d-flex">
        <div class="buscar-pensamentos">
            <input type="search"
                    class="filtro"
                    placeholder="Busque um pensamento"
                    autofocus
                    [(ngModel)] = "filtro"
                    (keyup) = "pesquisarPensamentos()">
                    
        </div>
       <!-- <img src="../../../../assets/imagens/" alt="Lupa"> -->
        <h2 class="ff-inter">Meu Mural</h2>
        <!--RouterLink nos passamos a rota que queremos ser redirecionados quando clicar no botão-->
        <button routerLink="/criarPensamento" class="botao">Adicionar pensamento</button>
    </header>
    <!--com a diretiva *ngIf iremos renderizar os cards somente se a lista estiver populada-->
    <div class="mural" *ngIf="listaPensamentos.length > 0, else semPensamentos">
        <!--ngFor é a forma no angular de se iterar uma lista-->
        <div *ngFor="let pensamento of listaPensamentos">
        <app-pensamento [pensamento] ="pensamento"></app-pensamento>
        </div>
    </div>
</section>

<app-botao-carregar-mais
    [haMaisPensamentos]="haMaisPensamentos"
    (click)="carregarMaisPensamentos()">
</app-botao-carregar-mais>

<!--ng-template não é renderizada por padrão ela só será rederizada na condição else do "if" acima-->
<ng-template #semPensamentos><!--estamos dando o nome a esta tag de "semPensamentos"-->
    <div class="ff-inter sem-pensamentos">
        <p>Ainda não há pensamentos cadastrados</p>
    </div>
</ng-template>
